.async-wrapper {
	min-height: 40px;
	padding-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	display: block;
	position: relative;
}

.async-wrapper ul.async-list {
	display: inline;
	clear: both;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

.async-wrapper ul.async-list li {
	display: inline-block;
	height: 24px;
	float: left;
	list-style: none;
	margin:0 auto;
	padding: 0;
	width: 20%;
}